<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="baap">
        <div class="master"></div>
        <div class="top">
            <div class="top1">
                <a href="" class="t11">VEHICLES</a>
                <a href="" class="t12">PURCHASE</a>
                <a href="" class="t13">OWNERS</a>
                <a href="" class="t14">EXPLORE</a>
            </div>
            <div class="top2"></div>
            <div class="top3">
                <a href="" class="t31"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a>
                <a href="https://www.landrover.in/national-dealer-locator.html" class="t32"><i
                        class="fa-sharp fa-solid fa-location-dot" style="color: #000000;"></i></a>
            </div>
        </div>
        <div class="lin">
            <div class="l1">
                <a href="" class="l11">EXPLORE RANGE ROVER</a>
            </div>
            <div class="l2">
                <a href="" class="l21">OVERVIEW</a>
            </div>
            <div class="l3"></div>
        </div>
        <div class="page1">
            <div class="p1">
                <a href="https://www.landrover.in/range-rover/range-rover/index.html" class="P11" target="_blank">RANGE ROVER</a>
            </div>
            <div class="p2">
                <a href="https://www.landrover.in/defender/index.html" class="P12" target="_blank">DEFENDER</a>
            </div>
            <div class="p3">
                <a href="https://www.landrover.in/discovery/index.html" class="P13" target="_blank" >DISCOVERY</a>
            </div>
        </div>
        <div class="manu">
            <a href="https://www.landrover.in/ownership/contact-us/index.html" class="m1"><i
                    class="fa-solid fa-ellipsis fa-shake" style="color: #ffffff;"></i></a>
        </div>
        <div class="br1"></div>
        <div class="page2">
            <div class="p21"></div>
            <div class="p22">
                <h1 class="p221">RANGE ROVER</h1>
                <h1 class="p222">Refined. Luxurious. Exclusive.</h1>
                <h4 class="p223">Please note that standard features may be replaced when selecting alternative trim
                    levels. Standard features may also vary on engine variant and transmission. <br><br><br>
                    Optional features and their availability may differ by vehicle specification (model and powertrain),
                    or require the installation of other features in order to be fitted. Please contact your local
                    Retailer for more details, or configure your vehicle online. <br><br><br>
                    Pivi and InControl features, options, third party services and their availability remain market
                    dependent – check with your Land Rover Retailer for local market availability and full terms. Mobile
                    network connectivity cannot be guaranteed in all locations. Information and images displayed in
                    relation to the InControl technology, including screens or sequences, are subject to software
                    updates, version control and other system/visual changes depending on options selected. Amazon,
                    Alexa and all related logos are trademarks of Amazon.com, Inc. or its affiliates. Certain Alexa
                    functionality is dependent on smart home technology. Use of Amazon Alexa requires an Amazon account. <br><br><br>
                    MeridianTM is a registered trademark of Meridian Audio Ltd.
                </h4>
            </div>
        </div>
        <div class="br2"></div>
        <div class="page3">
            <div class="p31"><h1 class="p311">DEFENDER</h1>
                <h1 class="p312">Refined. Luxurious. Exclusive.</h1>
                <h4 class="p313">Please note that standard features may be replaced when selecting alternative trim
                    levels. Standard features may also vary on engine variant and transmission. <br><br><br>
                    Optional features and their availability may differ by vehicle specification (model and powertrain),
                    or require the installation of other features in order to be fitted. Please contact your local
                    Retailer for more details, or configure your vehicle online. <br><br><br>
                    Pivi and InControl features, options, third party services and their availability remain market
                    dependent – check with your Land Rover Retailer for local market availability and full terms. Mobile
                    network connectivity cannot be guaranteed in all locations. Information and images displayed in
                    relation to the InControl technology, including screens or sequences, are subject to software
                    updates, version control and other system/visual changes depending on options selected. Amazon,
                    Alexa and all related logos are trademarks of Amazon.com, Inc. or its affiliates. Certain Alexa
                    functionality is dependent on smart home technology. Use of Amazon Alexa requires an Amazon account. <br><br><br>
                    MeridianTM is a registered trademark of Meridian Audio Ltd.
                </h4>
            </div>
            <div class="p32"></div>
        </div>
        <div class="br3"></div>
        <div class="page4">
            <div class="p41"></div>
            <div class="p42">
                <h1 class="p421">DISCOVERY</h1>
                <h1 class="p422">Refined. Luxurious. Exclusive.</h1>
                <h4 class="p423">Please note that standard features may be replaced when selecting alternative trim
                    levels. Standard features may also vary on engine variant and transmission. <br><br><br>
                    Optional features and their availability may differ by vehicle specification (model and powertrain),
                    or require the installation of other features in order to be fitted. Please contact your local
                    Retailer for more details, or configure your vehicle online. <br><br><br>
                    Pivi and InControl features, options, third party services and their availability remain market
                    dependent – check with your Land Rover Retailer for local market availability and full terms. Mobile
                    network connectivity cannot be guaranteed in all locations. Information and images displayed in
                    relation to the InControl technology, including screens or sequences, are subject to software
                    updates, version control and other system/visual changes depending on options selected. Amazon,
                    Alexa and all related logos are trademarks of Amazon.com, Inc. or its affiliates. Certain Alexa
                    functionality is dependent on smart home technology. Use of Amazon Alexa requires an Amazon account. <br><br><br>
                    MeridianTM is a registered trademark of Meridian Audio Ltd.
                </h4>
            </div>
        </div>
        <div class="br4"></div>
        <div class="page5">
            <div class="p51">
                <div class="p511"></div>
                <h1 class="p512">RANGE ROVER</h1>
                <h2 class="p513">Book free test drive <br><br><br>Which new features are thar</h2>
                <div class="p514">
                    <a href="" class="p5141">BOOK</a>
                </div>
            </div>
            <div class="p52">
                <div class="p521"></div>
                <h1 class="p522">DEFENDER</h1>
                <h2 class="p523">Book free test drive <br><br><br>Which new features are thar</h2>
                <div class="p524">
                    <a href="" class="p5241">BOOK</a>
                </div>
            </div>
            <div class="p53">
                <div class="p531"></div>
                <h1 class="p532">DISCOVERY</h1>
                <h2 class="p533">Book free test drive <br><br><br>Which new features are thar</h2>
                <div class="p534">
                    <a href="" class="p5341">BOOK</a>
                </div>
            </div>
        </div>
        <div class="br5"></div>
        <div class="last">
            <div class="ls1">
                <a href="" class="ls11">VEHICLES</a><br><br><br>
                <a href="" class="ls12">RANGE ROVER</a><br><br>
                <a href="" class="ls13">DISCOVERY</a><br><br>
                <a href="" class="ls14">DEFENDER</a>
            </div>
            <div class="ls2">
                <a href="" class="ls21">OWNERSHIP</a><br><br><br>
                <a href="" class="ls22">OWNERSHIP SERVICES</a><br><br>
                <a href="" class="ls23">INCONTROL</a><br><br>
                <a href="" class="ls24">SOFTWARE UPDATES</a><br><br>
                <a href="" class="ls25">LOCATE RETAILER</a><br><br>
                <a href="" class="ls26">ONLINE SERVICE BOOKING</a>
            </div>
            <div class="ls3">
                <a href="" class="ls31">EXPERIENCE</a><br><br><br>
                <a href="" class="ls32">DRIVING EXPERIENCES</a><br><br>
                <a href="" class="ls33">ADVENTURE TRAVEL</a><br><br><br><br><br><br>
                <a href="" class="ls34">ABOUT US</a>
            </div>
            <div class="ls4">
                <div class="ls41">
                    <a href="" class="ls411"><i class="fa-brands fa-facebook-f" style="color: #000000;"></i></a>
                </div>
                <h3 class="ls412">FACEBOOK</h3><br><br>
            <div class="ls42">
                <a href="" class="ls421"><i class="fa-brands fa-twitter" style="color: #000000;"></i></a>
            </div>
            <h3 class="ls422">TWITTER</h3><br><br>
        <div class="ls43">
            <a href="" class="ls431"><i class="fa-brands fa-youtube" style="color: #000000;"></i></a>
        </div>
            <h3 class="ls432">YOUTUBE</h3><br><br>
            <div class="ls44">
                <a href="" class="ls441"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
            </div>
                <h3 class="ls442">INSTAGRAM</h3>
        </div>
    </div>
</body>

</html>